@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delius+Unicase:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:#3B4664;
    font-family: 'Inter';
}

.heading{
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 2%;
    text-decoration: underline;
    letter-spacing: 0.1em;
}

.calc{
    width: 35%;
    height: 80%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.upper{
    height: 20%;
    width: 90%;
}

#input{
    height: 100%;
    width: 100%;
    background-color: #181F32;
    box-shadow: 1px 2px 10px #181F32;
    border-radius: 10px;
    /* letter-spacing: 0.8vw; */
    font-size: 2.4em;
    color: white;
    font-weight: 500;
    padding: 3%;
    text-align: right;
}

.lower{
    min-height: 72%;
    width: 90%;
    background-color: #252D44;
    border-radius: 0.7em;
    box-shadow: 1px 2px 5px;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
}

.btn{
    background-color: #EAE3DB;
    color: #252D44;
    font-weight: 700;
    font-size: 1.7em;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
    background-color: gray;
}

#reset{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #647299;
}

#reset:hover{
    background-color: wheat;
}

#del:hover{
    background-color: wheat;
}

#equals:hover{
background-color: wheat;
}

#equals{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #D13F30;
}

#del{
    background-color: #647299;
}




@media (max-width:1500px){
    .calc{
        min-width: 80%;
        min-height: 90%;
    }
}